<a href="https://colab.research.google.com/github/bradib0y/Coursera_Capstone/blob/main/04_assig_Toronto_Neighborhoods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# First assignment: Toronto Neighborhoods
## IBM Data Science Professional Certificate, final month capstone project

## Data Wrangling

In [63]:
import pandas as pd
import numpy as np

In [64]:
toronto_v1 = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

toronto_v1

[    Postal Code  ...                                      Neighbourhood
 0           M1A  ...                                       Not assigned
 1           M2A  ...                                       Not assigned
 2           M3A  ...                                          Parkwoods
 3           M4A  ...                                   Victoria Village
 4           M5A  ...                          Regent Park, Harbourfront
 ..          ...  ...                                                ...
 175         M5Z  ...                                       Not assigned
 176         M6Z  ...                                       Not assigned
 177         M7Z  ...                                       Not assigned
 178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
 179         M9Z  ...                                       Not assigned

 [180 rows x 3 columns],
                                                   0   ...   17
 0                                                NaN  ...  NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...  ...  NaN
 2                                                 NL  ...   YT
 3                                                  A  ...    Y

 [4 rows x 18 columns],
    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15     16  17
 0  NL  NS  PE  NB  QC  QC  QC  ON  ON  ON  ON  ON  MB  SK  AB  BC  NU/NT  YT
 1   A   B   C   E   G   H   J   K   L   M   N   P   R   S   T   V      X   Y]

In [65]:
type(toronto_v1)

list

In [66]:
toronto_v1[0]

    Postal Code  ...                                      Neighbourhood
0           M1A  ...                                       Not assigned
1           M2A  ...                                       Not assigned
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
..          ...  ...                                                ...
175         M5Z  ...                                       Not assigned
176         M6Z  ...                                       Not assigned
177         M7Z  ...                                       Not assigned
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
179         M9Z  ...                                       Not assigned

[180 rows x 3 columns]

In [67]:
type(toronto_v1[0])

pandas.core.frame.DataFrame

In [68]:
toronto_v2 = toronto_v1[0]

toronto_v2

    Postal Code  ...                                      Neighbourhood
0           M1A  ...                                       Not assigned
1           M2A  ...                                       Not assigned
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
..          ...  ...                                                ...
175         M5Z  ...                                       Not assigned
176         M6Z  ...                                       Not assigned
177         M7Z  ...                                       Not assigned
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
179         M9Z  ...                                       Not assigned

[180 rows x 3 columns]

In [69]:
toronto_v2["Neighbourhood"].unique().size

100

In [70]:
toronto_v2.columns

Index(['Postal Code', 'Borough', 'Neighbourhood'], dtype='object')

In [71]:
toronto_v3 = toronto_v2
toronto_v3.columns = ["PostalCode", "Borough", "Neighborhood"]

toronto_v3

    PostalCode  ...                                       Neighborhood
0          M1A  ...                                       Not assigned
1          M2A  ...                                       Not assigned
2          M3A  ...                                          Parkwoods
3          M4A  ...                                   Victoria Village
4          M5A  ...                          Regent Park, Harbourfront
..         ...  ...                                                ...
175        M5Z  ...                                       Not assigned
176        M6Z  ...                                       Not assigned
177        M7Z  ...                                       Not assigned
178        M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
179        M9Z  ...                                       Not assigned

[180 rows x 3 columns]

In [72]:
index = 3

print(type(toronto_v3.iloc[index]))

print(toronto_v3.iloc[index])

test_row = toronto_v3.iloc[index]

test = test_row == "Not assigned"

print(test)

if((test_row == "Not assigned").any()):
  print("aaaa")

<class 'pandas.core.series.Series'>
PostalCode                   M4A
Borough               North York
Neighborhood    Victoria Village
Name: 3, dtype: object
PostalCode      False
Borough         False
Neighborhood    False
Name: 3, dtype: bool

In [73]:
def make_NaN_if_not_assigned(row):
  if(row["Borough"] == "Not assigned"):
    return [np.NaN, np.NaN, np.NaN]
  else:
    return row

toronto_v4 = toronto_v3.apply(make_NaN_if_not_assigned, result_type="expand", axis=1)

toronto_v4

    PostalCode  ...                                       Neighborhood
0          NaN  ...                                                NaN
1          NaN  ...                                                NaN
2          M3A  ...                                          Parkwoods
3          M4A  ...                                   Victoria Village
4          M5A  ...                          Regent Park, Harbourfront
..         ...  ...                                                ...
175        NaN  ...                                                NaN
176        NaN  ...                                                NaN
177        NaN  ...                                                NaN
178        M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
179        NaN  ...                                                NaN

[180 rows x 3 columns]

In [74]:
toronto_v5 = toronto_v4.dropna()

toronto_v5

    PostalCode  ...                                       Neighborhood
2          M3A  ...                                          Parkwoods
3          M4A  ...                                   Victoria Village
4          M5A  ...                          Regent Park, Harbourfront
5          M6A  ...                   Lawrence Manor, Lawrence Heights
6          M7A  ...        Queen's Park, Ontario Provincial Government
..         ...  ...                                                ...
160        M8X  ...      The Kingsway, Montgomery Road, Old Mill North
165        M4Y  ...                               Church and Wellesley
168        M7Y  ...  Business reply mail Processing Centre, South C...
169        M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
178        M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

In [75]:
toronto_v6 = toronto_v5.reset_index()[["PostalCode", "Borough", "Neighborhood"]]

toronto_v6

    PostalCode  ...                                       Neighborhood
0          M3A  ...                                          Parkwoods
1          M4A  ...                                   Victoria Village
2          M5A  ...                          Regent Park, Harbourfront
3          M6A  ...                   Lawrence Manor, Lawrence Heights
4          M7A  ...        Queen's Park, Ontario Provincial Government
..         ...  ...                                                ...
98         M8X  ...      The Kingsway, Montgomery Road, Old Mill North
99         M4Y  ...                               Church and Wellesley
100        M7Y  ...  Business reply mail Processing Centre, South C...
101        M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
102        M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

In [76]:
toronto_v6.groupby("Borough").count()

                  PostalCode  Neighborhood
Borough
Central Toronto            9             9
Downtown Toronto          19            19
East Toronto               5             5
East York                  5             5
Etobicoke                 12            12
Mississauga                1             1
North York                24            24
Scarborough               17            17
West Toronto               6             6
York                       5             5

In [77]:
toronto_v6.groupby("PostalCode").count().sort_values(by="Neighborhood")

            Borough  Neighborhood
PostalCode
M1B               1             1
M6E               1             1
M6C               1             1
M6B               1             1
M6A               1             1
...             ...           ...
M3J               1             1
M3H               1             1
M3C               1             1
M4E               1             1
M9W               1             1

[103 rows x 2 columns]

In [78]:
toronto_v6.groupby("Neighborhood").count().sort_values(by="PostalCode")

                                                   PostalCode  Borough
Neighborhood
Agincourt                                                   1        1
Scarborough Village                                         1        1
Runnymede, The Junction North                               1        1
Runnymede, Swansea                                          1        1
Rouge Hill, Port Union, Highland Creek                      1        1
...                                                       ...      ...
East Toronto, Broadview North (Old East York)               1        1
Harbourfront East, Union Station, Toronto Islands           1        1
York Mills, Silver Hills                                    1        1
Don Mills                                                   2        2
Downsview                                                   4        4

[99 rows x 2 columns]

In [79]:
def make_Neighborhood_same_as_Borough_if_not_assigned(row):
  if(row["Neighborhood"] == "Not assigned"):
    return [row["PostalCode"], row["Borough"], row["Borough"]]
  else:
    return row

toronto_v7 = toronto_v6.apply(make_Neighborhood_same_as_Borough_if_not_assigned, result_type="expand", axis=1)

toronto_v7

    PostalCode  ...                                       Neighborhood
0          M3A  ...                                          Parkwoods
1          M4A  ...                                   Victoria Village
2          M5A  ...                          Regent Park, Harbourfront
3          M6A  ...                   Lawrence Manor, Lawrence Heights
4          M7A  ...        Queen's Park, Ontario Provincial Government
..         ...  ...                                                ...
98         M8X  ...      The Kingsway, Montgomery Road, Old Mill North
99         M4Y  ...                               Church and Wellesley
100        M7Y  ...  Business reply mail Processing Centre, South C...
101        M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
102        M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

In [81]:
toronto_v7.shape

(103, 3)

The dataset has 103 rows.